<section class="moviedetail" >
  <div class="moviedetail__header">
    
  <img class="moviedetail__image" src="https://mmi.unilim.fr/~delage130/SAE2.03-starter-project-DelageCloe/server/images/{{image}}" alt="Image du film" class="card__img">
  <div class="moviedetail__card">
  <h2 class="moviedetail__card__title">{{name}}</h2>
  <div class="moviedetail__elements">

  <p class="moviedetail__year">{{year}}</p>
  <p class="moviedetail__length">{{length}}</p>
  <p class="moviedetail__director">{{director}}</p>
  <p class="moviedetail__category">{{category}}</p>
  <p class="moviedetail__min_age">{{min_age}}</p>
</div>
<p class="moviedetail__description">{{description}}</p>
  </div>
  </div>
  <iframe
  class="moviedetail__trailer" src="{{trailer}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen >
  </iframe>

</section>


