<section class="moviedetail">
  <img
    class="moviedetail__image"
    src="https://mmi.unilim.fr/~delage130/SAE2.03-starter-project-DelageCloe/server/images/{{image}}"
    alt="Image du film"

  />
  <div class="moviedetail__card">
    <div class="moviedetail__card__header">
      <h2 class="moviedetail__card__title">{{name}}</h2>
      <div class="moviedetail__card__headerelements">
        <p class="moviedetail__year">{{year}}</p>
        <p class="moviedetail__length">{{length}}min</p>
      </div>
    </div>
    <div class="moviedetail__elements">
      <p class="moviedetail__director">Réalisateur : {{director}}</p>
      <p class="moviedetail__category">Catégorie : {{category}}</p>
      <p class="moviedetail__min_age">Age minimum : {{min_age}}</p>
      <p class="moviedetail__description">{{description}}</p>
    </div>
    <iframe
      class="moviedetail__trailer"
      src="{{trailer}}"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    >
    </iframe>
  </div>
</section>
