.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: rgb(207, 183, 154);
  background-color: #d6adad;
  border-radius: 1rem;
  position: sticky;
  z-index: 0;

  .navbar__item {
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    list-style: none;
    color: #5f4e4a;
    font-family: var(--ff-sans);
    font-weight: bold;
    &:hover {
      --_offset: 0.5rem;
    }
  }
}

.navbar__list {
  list-style: none;
}
