   .addProfiles {
    width: 100%; /* Assure que le bloc occupe toute la largeur disponible */
    max-width: 50rem; /* Limite la largeur maximale comme dans .addMovie-content */
    margin: 0 auto; /* Centre le bloc horizontalement */
    border-radius: 1rem; /* Coins arrondis */
    padding: 25px; /* Ajoute un padding similaire à .addMovie-content */
    background-color: var(--color-bg); /* Assure un fond cohérent */
    box-sizing: border-box; /* Inclut le padding dans la largeur totale */
  }
  
  .addProfiles__title{
    margin-bottom: 15px;
    color: var(--color-fg);
    font-size: 1.3em;
    font-weight: bold;
    font-family: var(--ff-sans);

  }
  .addProfiles__form input[type="text"],
  .addProfiles__form input[type="number"],
  .addProfiles__form select {
    width: 100%; /* Les champs occupent toute la largeur */
    padding: 12px; /* Ajoute un padding interne */
    margin: 6px 0; /* Ajoute un espacement vertical */
    border: 1px solid var(--color-bg); /* Bordure similaire */
    border-radius: 1rem; /* Coins arrondis */
    background: var(--color-bg); /* Fond similaire */
    box-shadow: 0 0 8px var(--color-fg); /* Ombre similaire */
    color: var(--color-primary); /* Couleur du texte */
    font-weight: bold;
    font-size: 1em;
  }
  
  .addProfiles__form input[type="text"]:focus,
  .addProfiles__form input[type="number"]:focus,
  .addProfiles__form select:focus {
    outline: none; /* Supprime le contour par défaut */
  }
  
  .addProfiles__form input[type="button"],
  .addProfiles__form input[type="submit"] {
    width: 100%; 
    padding: 12px; /* Ajoute un padding interne */
    margin-top: 10px; /* Ajoute un espacement au-dessus */
    background: var(--color-primary); /* Fond similaire */
    color: var(--color-bg); /* Couleur du texte */
    border: none; /* Supprime les bordures */
    border-radius: 1rem; /* Coins arrondis */
    cursor: pointer; /* Change le curseur au survol */
    font-size: 1em;
    font-weight: bold;
    transition: transform 0.3s ease; /* Ajoute une transition */
  }
  
  .addProfiles__form input[type="button"]:hover,
  .addProfiles__form input[type="submit"]:hover {
    transform: scale(1.05); /* Agrandit légèrement au survol */
    transition: transform 0.3s ease; /* Ajoute une transition */
  }
  
  @media (min-width: 768px) {
    .addProfiles {
      max-width: 50rem; /* Largeur maximale pour les écrans moyens et grands */
      padding: 25px; /* Ajoute un padding interne */
    }
  }